<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SampleDb" connectionString="Data Source=localhost; Database = Candea.SampleDb; Integrated Security = true" />
  </connectionStrings>
  <appSettings>
    <add key="MEF.AssembliesPath" value="." />
    <add key="MEF.CsvSearchPatterns" value="Shared.*"/>

    <add key="Logging.Header" value="*** START Unit tests (Samples) ***"/>
    <add key="Logging.RunOnSeparateThread" value="true"/>
    <add key="Logging.ConfigFilePath" value="log4net.config"/>

    <add key="DataAccess.ConnStrName" value="SampleDb"/>
    <add key="DataAccess.SQLCommandTimeoutInSeconds" value="120"/>

    <add key="Caching.ExpirationTimespan" value="1:3:0:0"/>
  </appSettings>
</configuration>