<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Messaging" connectionString="Data Source=TXRH-3FPXX52\SQLEXPRESS;initial catalog=imVision.Messaging;integrated security=True;MultipleActiveResultSets=True;App=abd" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="DataAccess.BasicConnStrName" value="Messaging"/>
  </appSettings>
</configuration>